.header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background: rgba(69, 72, 170, 1);
    opacity: 80%;
    position: relative; /* Agregamos posición relativa */
}

.contenedor {
    position: relative; /* Agregamos posición relativa */
    width: 100%;
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centra el contenido */
    display: flex;
    justify-content: space-between; /* Espacio entre elementos */
    align-items: center;
    padding: 0 20px; /* Ajusta el padding según tu diseño */
}

.Home,
.Inicio {
    border-radius: 40px;
    background: #f9f4f0;
    width: 350px; /* Ancho de los botones */
    height: 80px;
    border: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoEncima {
    color: black;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
}

/* Estilos responsivos */
@media screen and (max-width: 1200px) {
    .Home,
    .Inicio {
        width: 300px; /* Ajusta el ancho de los botones */
    }
}

@media screen and (max-width: 1000px) {
    .Home,
    .Inicio {
        width: 250px; /* Ajusta el ancho de los botones */
    }
}

@media screen and (max-width: 768px) {
    .Home,
    .Inicio {
        width: 200px; /* Ajusta el ancho de los botones */
    }
}